.wp-block-impressum-imprint {
	dt {
		font-weight: 700;
	}
	
	dd {
		margin-left: 0;
	}
}

// fix default select styling on select[multiple]
// https://github.com/WordPress/gutenberg/issues/27166
.impressum-select-multiple.impressum-select-multiple.impressum-select-multiple select[multiple] {
	height: auto;
	padding: 8px;
	
	+ .components-input-control__suffix {
		display: none;
	}
}
