.wp-block-impressum-imprint {
	dt {
		align-items: center;
		display: flex;
		font-weight: 700;
	}
	
	dd {
		margin-left: 0;
	}
}

.impressum__checkbox-select {
	max-height: 265px;
	overflow: auto;
}
